.App {
    background: aquamarine;
    margin: 5rem;
    padding: 25px;
    border-radius: 14px;
    height: 400px;
    overflow: auto;
}

.App .add {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.add button {
    margin: 8px;
}

.noactive {
    text-decoration: line-through;
}

.todos {
    display: flex;
    align-items: center;
    padding: 0 8rem;
    justify-content: space-between;
}