.App {
    background: aquamarine;
    margin: 5rem;
    padding: 25px;
    border-radius: 14px;
    height: 400px;
}

.App .add {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.add button {
    margin: 8px;
}

.noactive {
    color: red;
}

.todos {
    display: flex;
    align-items: center;
    justify-content: center;
}